
    <h1>Strength log</h1>
    
    <div id="training">
	    <h2>Squat</h2>
	    <form class="form-inline">
	    	<label>Reps:</label> <input type="number">
	    	<label>Sets:</label> <input type="number">
	    	<label>Weight:</label> <input type="number">
	    	<label>Notes:</label> <textarea rows="3"></textarea>
	    	<button type="submit" class="btn">Record</button>
	    </form>
	</div>

    <div class="input-append">
    	<input type="text" placeholder="Exercise type" class="span2">
    	<button type="button" class="btn">Add</button>
    </div>